{
  "plugins": [
    "transform-es2015-shorthand-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-function-bind"
  ],
  "presets": [
    "es2015",
    [
      "env",
      {
        "targets": {
          "node": "current"
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "stage-0"
  ],
  "sourceMaps": "both"
}
